.BS-Button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.BS-Button.BS-Button--disabled {
  cursor: default;
  pointer-events: none;
}

.BS-Button.BS-Button--loading {
  cursor: default;
  pointer-events: none;
}

.BS-Button__loader {
  display: flex;
  align-items: center;
}

/*
 * SCOPE: DEFAULT
 */
.BS-Button.BS-Button--default {
  padding: 14px 30px;
  border-radius: 4px;
  font-size: 15px;

  transition: background-color 0.3s ease, padding 0.3s ease 0.3s, opacity 0.3s ease;
}

.BS-Button.BS-Button--default.BS-Button--disabled {
  opacity: 0.5;
}

.BS-Button.BS-Button--default .BS-Button__loader {
  position: absolute;
  right: 20px;
  opacity: 0;

  transition: right 0.3s ease, opacity 0.3s ease;
  transition-delay: 0s;
}

.BS-Button.BS-Button--default.BS-Button--loading {
  padding-right: 56px;
  opacity: 0.5;

  transition-delay: 0s;
}

.BS-Button.BS-Button--default.BS-Button--loading .BS-Button__loader {
  right: 30px;
  opacity: 1;

  transition-delay: 0.3s;
}

/* 
 * SCOPE: DEFAULT
 * SIZE: SMALL
 */
.BS-Button.BS-Button--default.BS-Button--small {
  padding: 10px 20px;
  font-size: 14px;
}

.BS-Button.BS-Button--default.BS-Button--small .BS-Button__loader {
  right: 10px;
}

.BS-Button.BS-Button--default.BS-Button--small.BS-Button--loading {
  padding-right: 46px;
}

.BS-Button.BS-Button--default.BS-Button--small.BS-Button--loading .BS-Button__loader {
  right: 20px;
}

/* 
 * SCOPE: DEFAULT
 * SIZE: LARGE
 */
.BS-Button.BS-Button--default.BS-Button--large {
  padding: 18px 40px;
  font-size: 16px;
}

.BS-Button.BS-Button--default.BS-Button--large .BS-Button__loader {
  right: 30px;
}

.BS-Button.BS-Button--default.BS-Button--large.BS-Button--loading {
  padding-right: 66px;
}

.BS-Button.BS-Button--default.BS-Button--large.BS-Button--loading .BS-Button__loader {
  right: 40px;
}

/*
 * SCOPE: DEFAULT
 * TYPE: PRIMARY
 */
.BS-Button.BS-Button--default.BS-Button--primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.BS-Button.BS-Button--default.BS-Button--primary:hover {
  background-color: var(--color-primary--hover);
}

.BS-Button.BS-Button--default.BS-Button--primary .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}

/*
 * SCOPE: DEFAULT
 * TYPE: SECONDARY
 */
.BS-Button.BS-Button--default.BS-Button--secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.BS-Button.BS-Button--default.BS-Button--secondary:hover {
  background-color: var(--color-secondary--hover);
}

.BS-Button.BS-Button--default.BS-Button--secondary .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}

/*
 * SCOPE: DEFAULT
 * TYPE: DANGER
 */
.BS-Button.BS-Button--default.BS-Button--danger {
  background-color: var(--color-danger);
  color: #ffffff;
}

.BS-Button.BS-Button--default.BS-Button--danger:hover {
  background-color: var(--color-danger--hover);
}

.BS-Button.BS-Button--default.BS-Button--danger .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}

/*
 * SCOPE: ROUNDED
 */
.BS-Button.BS-Button--rounded {
  padding: 14px 30px;
  border-radius: 24px;
  font-size: 15px;

  transition: background-color 0.3s ease, padding 0.3s ease 0.3s, opacity 0.3s ease;
}

.BS-Button.BS-Button--rounded.BS-Button--disabled {
  opacity: 0.5;
}

.BS-Button.BS-Button--rounded .BS-Button__loader {
  position: absolute;
  right: 20px;
  opacity: 0;

  transition: right 0.3s ease, opacity 0.3s ease;
  transition-delay: 0s;
}

.BS-Button.BS-Button--rounded.BS-Button--loading {
  padding-right: 56px;
  opacity: 0.5;

  transition-delay: 0s;
}

.BS-Button.BS-Button--rounded.BS-Button--loading .BS-Button__loader {
  right: 30px;
  opacity: 1;

  transition-delay: 0.3s;
}

/* 
 * SCOPE: ROUNDED
 * SIZE: SMALL
 */
.BS-Button.BS-Button--rounded.BS-Button--small {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
}

.BS-Button.BS-Button--rounded.BS-Button--small .BS-Button__loader {
  right: 10px;
}

.BS-Button.BS-Button--rounded.BS-Button--small.BS-Button--loading {
  padding-right: 46px;
}

.BS-Button.BS-Button--rounded.BS-Button--small.BS-Button--loading .BS-Button__loader {
  right: 20px;
}

/* 
 * SCOPE: ROUNDED
 * SIZE: LARGE
 */
.BS-Button.BS-Button--rounded.BS-Button--large {
  padding: 18px 40px;
  font-size: 16px;
  border-radius: 30px;
}

.BS-Button.BS-Button--rounded.BS-Button--large .BS-Button__loader {
  right: 30px;
}

.BS-Button.BS-Button--rounded.BS-Button--large.BS-Button--loading {
  padding-right: 66px;
}

.BS-Button.BS-Button--rounded.BS-Button--large.BS-Button--loading .BS-Button__loader {
  right: 40px;
}

/*
 * SCOPE: ROUNDED
 * TYPE: PRIMARY
 */
.BS-Button.BS-Button--rounded.BS-Button--primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.BS-Button.BS-Button--rounded.BS-Button--primary:hover {
  background-color: var(--color-primary--hover);
}

.BS-Button.BS-Button--rounded.BS-Button--primary .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}

/*
 * SCOPE: ROUNDED
 * TYPE: SECONDARY
 */
.BS-Button.BS-Button--rounded.BS-Button--secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.BS-Button.BS-Button--rounded.BS-Button--secondary:hover {
  background-color: var(--color-secondary--hover);
}

.BS-Button.BS-Button--rounded.BS-Button--secondary .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}

/*
 * SCOPE: ROUNDED
 * TYPE: DANGER
 */
.BS-Button.BS-Button--rounded.BS-Button--danger {
  background-color: var(--color-danger);
  color: #ffffff;
}

.BS-Button.BS-Button--rounded.BS-Button--danger:hover {
  background-color: var(--color-danger--hover);
}

.BS-Button.BS-Button--rounded.BS-Button--danger .BS-Spinner {
  border-color: #ffffff transparent #ffffff #ffffff;
}
